@import './vars.scss';

@mixin standard-shadow($top, $left, $blur) {
    filter: drop-shadow($top $left $blur $color-primary--dark);
}

@mixin flex($direction, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin gradient-light() {
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}

@mixin gradient-nice($color-light, $color-dark, $angle) {
    background-image: linear-gradient($angle, $color-light 0%, $color-dark 100%);
}






