@import './vars.scss';
@import './mixins.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;
  color: $text-color;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  max-width: 1280px;
  padding: $standard-gap;
  text-align: center;
}

/* links */

a {
  font-weight: 500;
  color: $color-primary;
  text-decoration: inherit;
}

a:hover {
  color: $color-primary;
}

/* headlines */

h1 {
  font-size: 1.2em;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

/* standard buttons */

button {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
  outline: none;
  box-shadow: none;
  border: none;
}

.button--primary {
  background-color: $color-primary;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  &:hover {
    background-color: $color-primary--dark;
  }
}


/*
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* optional: color scheme styles 

@media (prefers-color-scheme: light) {
  :root {
    color: $text-color;
    background-color: #ffffff;
  }
  a:hover {
    color: $color-primary--dark;
  }
  button {
    background-color: #f9f9f9;
  }
} */