/* color variables */

$text-color: #2e2e2e;
$text-color--light: #888;
$color-primary: #1230AE;
$color-primary--dark: #061242;
$color-secondary: #C68FE6;
$color-secondary--dark: #6C48C5;
$color-accent: #b7ff00;
